@import 'src/assets/css/mixin.scss';
@keyframes example {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes learve {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
.JoL-progress-container {
  transition: all 0.5s;
  width: 100%;
  .progress-bg {
    transition: all 0.3s;
    @include wh(100%, 5px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    position: relative;
    .progress-buffered {
      @include wh(0%, 100%);
      @include position(absolute, 0, auto, auto, 0);
      z-index: 1;
      border-radius: 2px;
      background: rgba(255, 255, 255, 0.5);
    }
    .progress-played {
      @include wh(0%, 100%);
      @include position(absolute, 0, auto, auto, 0);
      z-index: 2;
      border-radius: 2px;
      .progress-scrubber {
        transition: all 0.3s;
        @include wh(12px, 12px);
        @include position(absolute, -50%, -5px, auto, auto);
        margin-top: 1px;
        border-radius: 50%;
      }
    }
    .progress-seek-mask {
      @include wh(100%, calc(100% + 6px));
      @include position(absolute, -3px, auto, auto, 0);
      z-index: 100;
      &:hover {
        cursor: pointer;
      }
    }
    .pointer {
      @include position(absolute, 0, auto, auto, 714px);
      .top-triangle,
      .bottom-triangle {
        @include wh(0, 0);
        position: absolute;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
      .top-triangle {
        left: -4px;
        top: -5px;
        border-bottom: 4px solid transparent;
      }
      .bottom-triangle {
        left: -4px;
        top: 3px;
        border-top: 4px solid transparent;
      }
    }
    .video-img-box {
      @include wh(169px, 96px);
      @include position(absolute, -105px, auto, auto, 0);
      margin-left: calc(-169px / 2);
      .video-current-img {
        @include wh(100%, 100%);
      }
      .current-time {
        @include position(absolute, auto, auto, 0, 50%);
        @include style(12px, #fff);
        transform: translateX(-50%);
        background-color: #222222;
        padding: 1px 4px;
      }
    }
  }
}
