@keyframes example {
  from {
    opacity: 0;
    transform: scale(1.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes learve {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
.progress-container {
  transition: all 0.5s;
  width: 100%;
  .progress-bg {
    transition: all 0.3s;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    position: relative;
    .progress-buffered {
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 2px;
      background: rgba(255, 255, 255, 0.5);
    }
    .progress-played {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      border-radius: 2px;
      // background: #fbc100;
      .progress-scrubber {
        transition: all 0.3s;
        position: absolute;
        right: -5px;
        top: -50%;
        margin-top: -1px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        // background-color: #fbc100;
      }
    }
    .progress-seek-mask {
      position: absolute;
      z-index: 100;
      top: -3px;
      left: 0;
      width: 100%;
      height: calc(100% + 6px);
      &:hover {
        cursor: pointer;
      }
    }
    .pointer {
      position: absolute;
      left: 714px;
      top: 0;
      .top-triangle,
      .bottom-triangle {
        width: 0;
        height: 0;
        position: absolute;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
      }
      .top-triangle {
        left: -4px;
        top: -5px;
        border-bottom: 4px solid transparent;
      }
      .bottom-triangle {
        left: -4px;
        top: 1px;
        border-top: 4px solid transparent;
      }
    }
    .video-img-box {
      position: absolute;
      top: -120px;
      left: 0px;
      width: 169px;
      height: 96px;
      margin-left: calc(-169px / 2);
      // background-color: aliceblue;
      .video-current-img {
        width: 100%;
        height: 100%;
      }
      .current-time {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #222222;
        color: #fff;
        padding: 0 5px;
        font-size: 12px;
      }
    }
  }
}
