@import 'src/assets/css/mixin.scss';
.JoL-player-container{
  .tp {
    top: 0;
  }
  .bt {
    bottom: 0;
  }
  .suspendedProgressBoard {
    transition: all 0.3s;
    animation: show 0.3s ease;
    @include wh(100%, 3px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 2px;
    position: absolute;
    .progressPlayed {
      @include wh(0%, 100%);
      @include position(absolute, 0, auto, auto, 0);
      z-index: 2;
      border-radius: 2px;
    }
  }
}